{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype",
    "class-property"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.5"
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "spread": true
    }
  },
  "rules": {
    "vars-on-top": "warn",
    "prefer-template": "off",
    "arrow-body-style": "off",
    "no-underscore-dangle": "off",
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/forbid-prop-types": "off",
    "arrow-parens": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-wrap-multilines": "off",
    "react/display-name": "off",
    "no-use-before-define": "off"
  }
}
